
@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the profile page. This will show your user details and allow you to amend them. To get here we must be logged into the system.</p>
</div>
